* {
  margin: 0;
  padding: 0;
}

/* main app form */

.Main {
  box-sizing: border-box;
  background-color: #d8d8d8;
  height: 100vh;
  padding: 24px;
}

.CardList {
  display: flex;
}

/* input */

.InputWrap {
  display: flex;
  height: 50px;
  border-radius: 12px;
  margin-bottom: 24px;
  box-shadow: 3px 3px 12px 1px rgba(0, 0, 0, 0.25);
}

.Input {
  width: 80%;
  padding: 4px 8px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: #3a8ac0;
  font-size: 18px;
  color: #fff;
  border: none;
  outline: 0;
}

.Button {
  width: 20%;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border: none;
}

/* wecard */

.WeCard {
  width: 200px;
  height: fit-content;
  padding: 12px;
  border-radius: 12px;
  background-color: #3a8ac0;
  font-size: 14px;
  color: #fff;
  margin-left: 24px;
  box-shadow: 3px 3px 12px 1px rgba(0, 0, 0, 0.25);
  transition: .3s;
}

.WeCard:hover {
  transform: translate(0,10px);
}

.WeCard:first-child {
  margin-left: 0;
}

.MainInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Icon {

}

.Title {
  font-size: 24px;
  font-weight: 500;
}

.Discription {
  margin: 4px;
  font-size: 16px;
}

.Timperature {
  margin-top: 12px;
  font-size: 40px;
  font-weight: 500;
}

.Timperature::after {
  content: "°";
}

.Information {
  margin-top: 12px;
}

.Information > div {
  margin: 4px;
}